.service img{
    width: 95%;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
}
.service {
    background-color: beige;
    border-radius: 10px;
    border: 1px solid gray;
}
.service:hover{
    background-color:rgb(255, 215, 221);
}